In [2]:
from pathlib import Path
import pandas as pd 

names = [
    'acm_fellows', 
    'conference_ranking', 
    'country_info', 
    'csrankings', 
    'data', 
    'dblp_alias', 
    'field_conference', 
    'generated_author_info', 
    'geo_location', 
    'turing'
]

# Load files
dir = Path('data/')
files = {name:pd.read_csv(file) for name, file in zip(names, dir.iterdir())}

In [9]:
# General information
for f in names: 
    file = files[f]

    print('='*100)
    print(f, file.shape)
    print('='*100)
    print(file.head(3))
    print('-'*100)
    print(file.describe())
    print('-'*100)
    print(file.isnull().sum())
    print()

====================================================================================================
acm_fellows (1493, 2)
====================================================================================================
             name  year
0    A. J. Milner  1994
1  Aaron Finerman  1994
2  Adele Goldberg  1994
----------------------------------------------------------------------------------------------------
              year
count  1493.000000
mean   2009.217683
std       9.650052
min    1994.000000
25%    2000.000000
50%    2010.000000
75%    2018.000000
max    2023.000000
----------------------------------------------------------------------------------------------------
name    0
year    0
dtype: int64

====================================================================================================
conference_ranking (468, 3)
====================================================================================================
          institution  region countryabbrv
0                AUEB  europe           gr
1  Aalborg University  europe           dk
2    Aalto University  europe           fi
----------------------------------------------------------------------------------------------------
       institution  region countryabbrv
count          468     468          468
unique         468       6           58
top           AUEB  europe           de
freq             1     239           71
----------------------------------------------------------------------------------------------------
institution     0
region          0
countryabbrv    0
dtype: int64

====================================================================================================
country_info (77, 3)
====================================================================================================
              major                  field conference
0  Computer Science  Computer Architecture     ASPLOS
1  Computer Science  Computer Architecture       ISCA
2  Computer Science  Computer Architecture      MICRO
----------------------------------------------------------------------------------------------------
                   major              field conference
count                 77                 77         77
unique                 1                 27         77
top     Computer Science  Operating Systems     ASPLOS
freq                  77                  5          1
----------------------------------------------------------------------------------------------------
major         0
field         0
conference    0
dtype: int64

====================================================================================================
csrankings (1493, 3)
====================================================================================================
  Antonym                                               Name Rank
0    AAAI  National Conference of the American Associatio...   A*
1   AAMAS  International Conference on Autonomous Agents ...   A*
2     ACL           Association of Computational Linguistics   A*
----------------------------------------------------------------------------------------------------
       Antonym                                             Name  Rank
count     1493                                             1493  1493
unique    1461                                             1492     4
top        ISC  International Conference on Parallel Processing     C
freq         3                                                2   872
----------------------------------------------------------------------------------------------------
Antonym    0
Name       0
Rank       0
dtype: int64

====================================================================================================
data (89, 2)
====================================================================================================
                     name  year
0          Alan J. Perlis  1966
1       Maurice V. Wilkes  1967
2  Richard Wesley Hamming  1968
----------------------------------------------------------------------------------------------------
              year
count    89.000000
mean   1997.505618
std      16.383281
min    1966.000000
25%    1984.000000
50%    2001.000000
75%    2011.000000
max    2023.000000
----------------------------------------------------------------------------------------------------
name    0
year    0
dtype: int64

====================================================================================================
dblp_alias (239169, 6)
====================================================================================================
               name     dept  area  count  adjustedcount  year
0        A Min Tjoa  TU Wien  icde    1.0        0.33333  1984
1        A Min Tjoa  TU Wien  icde    1.0        0.20000  1996
2  A. Akbariazirani     IUST  iros    1.0        0.16667  2017
----------------------------------------------------------------------------------------------------
               count  adjustedcount           year
count  239169.000000  239169.000000  239169.000000
mean        1.366435       0.375286    2014.408163
std         0.919427       0.280500       8.823449
min         1.000000       0.003584    1970.000000
25%         1.000000       0.200000    2010.000000
50%         1.000000       0.333330    2017.000000
75%         1.000000       0.500000    2021.000000
max        24.000000       4.977800    2024.000000
----------------------------------------------------------------------------------------------------
name             0
dept             0
area             0
count            0
adjustedcount    0
year             0
dtype: int64

====================================================================================================
field_conference (570, 3)
====================================================================================================
          institution   latitude  longitude
0  Aalborg University  57.015907   9.975308
1    Aalto University  60.186079  24.828102
2   Aarhus University  56.167091  10.202618
----------------------------------------------------------------------------------------------------
         latitude   longitude
count  570.000000  570.000000
mean    36.005308  -10.367091
std     20.255435   78.584243
min    -45.864979 -166.591814
25%     32.736590  -80.603564
50%     40.444171   -0.131608
75%     48.543102   24.922188
max     63.423373  175.616500
----------------------------------------------------------------------------------------------------
institution    0
latitude       0
longitude      0
dtype: int64

====================================================================================================
generated_author_info (1827, 26)
====================================================================================================
                institution.displayName      institution.schoolType  \
0          Abilene Christian University       national-universities
1  Abraham Baldwin Agricultural College     regional-colleges-south
2             Academy of Art University  regional-universities-west

  institution.aliasNames institution.state institution.city  institution.zip  \
0                    ACU                TX          Abilene          79699.0
1                    NaN                GA           Tifton          31793.0
2                    NaN                CA    San Francisco          94105.0

  institution.region  institution.isPublic institution.institutionalControl  \
0                NaN                  True                          private
1              south                  True                           public
2               west                  True                      proprietary

   institution.primaryPhotoCardThumb  ... searchData.tuition.rawValue  \
0                                NaN  ...                     42380.0
1                                NaN  ...                     10071.0
2                                NaN  ...                     32460.0

   searchData.hsGpaAvg.rawValue  searchData.engineeringRepScore.rawValue  \
0                           3.5                                      2.2
1                           NaN                                      NaN
2                           NaN                                      NaN

   searchData.parentRank.rawValue  searchData.enrollment.rawValue  \
0                             NaN                            3189
1                             NaN                            3814
2                             NaN                            5363

   searchData.businessRepScore.rawValue  searchData.satAvg.rawValue  \
0                                   2.1                      1030.0
1                                   NaN                       940.0
2                                   NaN                         NaN

   searchData.costAfterAid.rawValue searchData.testAvgs.displayValue.0.value  \
0                               NaN                                1030-1250
1                               NaN                                 940-1130
2                               NaN                                      NaN

   searchData.testAvgs.displayValue.1.value
0                                     20-27
1                                     16-22
2                                       NaN

[3 rows x 26 columns]
----------------------------------------------------------------------------------------------------
       institution.zip  institution.primaryPhotoCardThumb  ranking.sortRank  \
count      1725.000000                                0.0       1827.000000
mean      45120.261449                                NaN         74.151067
std       29202.656245                                NaN         91.868168
min         604.000000                                NaN         -2.000000
25%       19607.000000                                NaN         -1.000000
50%       43210.000000                                NaN         43.000000
75%       68182.000000                                NaN        105.000000
max       99801.000000                                NaN        390.000000

       searchData.actAvg.rawValue  searchData.percentReceivingAid.rawValue  \
count                 1125.000000                               607.000000
mean                    21.229333                                50.299835
std                      4.793125                                22.596892
min                      1.000000                                 1.000000
25%                     18.000000                                34.000000
50%                     20.000000                                53.000000
75%                     24.000000                                69.000000
max                     35.000000                                98.000000

       searchData.acceptanceRate.rawValue  searchData.tuition.rawValue  \
count                         1551.000000                   1812.00000
mean                            71.849774                  29413.89128
std                             22.101087                  15947.25723
min                              3.000000                      0.00000
25%                             61.000000                  17330.00000
50%                             77.000000                  27091.00000
75%                             88.000000                  39272.75000
max                            100.000000                  91801.00000

       searchData.hsGpaAvg.rawValue  searchData.parentRank.rawValue  \
count                   1001.000000                             0.0
mean                       3.481219                             NaN
std                        0.320011                             NaN
min                        0.000000                             NaN
25%                        3.300000                             NaN
50%                        3.500000                             NaN
75%                        3.700000                             NaN
max                        3.900000                             NaN

       searchData.enrollment.rawValue  searchData.satAvg.rawValue  \
count                     1827.000000                 1115.000000
mean                      5232.743842                 1053.814350
std                       7930.821999                  153.499059
min                          0.000000                  400.000000
25%                        990.500000                  950.000000
50%                       2145.000000                 1030.000000
75%                       5905.500000                 1130.000000
max                      65870.000000                 1520.000000

       searchData.costAfterAid.rawValue
count                        607.000000
mean                       33030.485997
std                         9267.191509
min                        14917.000000
25%                        26125.500000
50%                        31609.000000
75%                        38017.000000
max                        67622.000000
----------------------------------------------------------------------------------------------------
institution.displayName                        0
institution.schoolType                         0
institution.aliasNames                      1377
institution.state                             12
institution.city                              16
institution.zip                              102
institution.region                           856
institution.isPublic                           0
institution.institutionalControl               0
institution.primaryPhotoCardThumb           1827
ranking.displayRank                            0
ranking.sortRank                               0
ranking.isTied                                 0
searchData.actAvg.rawValue                   702
searchData.percentReceivingAid.rawValue     1220
searchData.acceptanceRate.rawValue           276
searchData.tuition.rawValue                   15
searchData.hsGpaAvg.rawValue                 826
searchData.engineeringRepScore.rawValue     1347
searchData.parentRank.rawValue              1827
searchData.enrollment.rawValue                 0
searchData.businessRepScore.rawValue        1304
searchData.satAvg.rawValue                   712
searchData.costAfterAid.rawValue            1220
searchData.testAvgs.displayValue.0.value     712
searchData.testAvgs.displayValue.1.value     702
dtype: int64

====================================================================================================
geo_location (30400, 4)
====================================================================================================
                name affiliation  \
0         A Min Tjoa     TU Wien
1  A. Akbari Azirani        IUST
2   A. Akbariazirani        IUST

                                            homepage     scholarid
0                   http://www.ifs.tuwien.ac.at/tjoa  x8qCMhcAAAAJ
1  http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...  pCil4_cAAAAJ
2  http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...  pCil4_cAAAAJ
----------------------------------------------------------------------------------------------------
              name             affiliation  \
count        30400                   30400
unique       30400                     661
top     A Min Tjoa  Universidade de Lisboa
freq             1                     302

                                  homepage      scholarid
count                                30400          30400
unique                               24318          19999
top     https://www.compute.dtu.dk/english  NOSCHOLARPAGE
freq                                   117           5342
----------------------------------------------------------------------------------------------------
name           0
affiliation    0
homepage       0
scholarid      0
dtype: int64

====================================================================================================
turing (100987, 2)
====================================================================================================
                             alias                 name
0  Joaquim Miguel Gonçalves Macedo  Joaquim Macedo 0002
1                    Ya-Ling Zhang         Yaling Zhang
2          Mohamed El Baker Nassar  Mohamed Nassar 0001
----------------------------------------------------------------------------------------------------
                                  alias                  name
count                            100987                100987
unique                           100987                 90287
top     Joaquim Miguel Gonçalves Macedo  Ahmed Abou El-Fetouh
freq                                  1                     7
----------------------------------------------------------------------------------------------------
alias    0
name     0
dtype: int64