In [6]:
from pathlib import Path
import pandas as pd 

# Load files
dir = Path('data/')
files = {file.name:pd.read_csv(file) for file in dir.iterdir()}

In [14]:
# General information
for f in files: 
    file = files[f]

    print('='*100)
    print(f, file.shape)
    print('='*100)
    print(file.dtypes)
    print('-'*100)
    print(file.head(10))
    print(file.tail(10))
    print('-'*100)
    print(file.describe())
    print('-'*100)
    print(file.isnull().sum())
    print()

====================================================================================================
acm-fellows.csv (1493, 2)
====================================================================================================
name    object
year     int64
dtype: object
----------------------------------------------------------------------------------------------------
                name  year
0       A. J. Milner  1994
1     Aaron Finerman  1994
2     Adele Goldberg  1994
3       Allen Tucker  1994
4    Andries van Dam  1994
5    Anthony Ralston  1994
6   Azriel Rosenfeld  1994
7  Barbara B. Simons  1994
8       Ben Wegbreit  1994
9  Bernard A. Galler  1994
                    name  year
1483         Wenjing Lou  2023
1484         Wenliang Du  2023
1485  XiaoFeng Wang 0001  2023
1486       Xin Dong 0001  2023
1487       Xing Xie 0001  2023
1488          Yann LeCun  2023
1489  Yingying Chen 0001  2023
1490       Yoshua Bengio  2023
1491       Z. Morley Mao  2023
1492        Zhu Han 0001  2023
----------------------------------------------------------------------------------------------------
              year
count  1493.000000
mean   2009.217683
std       9.650052
min    1994.000000
25%    2000.000000
50%    2010.000000
75%    2018.000000
max    2023.000000
----------------------------------------------------------------------------------------------------
name    0
year    0
dtype: int64

====================================================================================================
country-info.csv (468, 3)
====================================================================================================
institution     object
region          object
countryabbrv    object
dtype: object
----------------------------------------------------------------------------------------------------
                      institution       region countryabbrv
0                            AUEB       europe           gr
1              Aalborg University       europe           dk
2                Aalto University       europe           fi
3               Aarhus University       europe           dk
4          Aberystwyth University       europe           uk
5    American University in Cairo       africa           eg
6   American University of Beirut         asia           lb
7                Ariel University       europe           il
8               Ashoka University         asia           in
9  Australian National University  australasia           au
                     institution  region countryabbrv
458             Wuhan University    asia           cn
459    Xi'an Jiaotong University    asia           cn
460            Xiamen University    asia           cn
461            Xidian University    asia           cn
462          Yangzhou University    asia           cn
463            Yonsei University    asia           kr
464              York University  canada           ca
465  Yıldız Technical University  europe           tr
466          Zhejiang University    asia           cn
467           Özyeğin University  europe           tr
----------------------------------------------------------------------------------------------------
       institution  region countryabbrv
count          468     468          468
unique         468       6           58
top           AUEB  europe           de
freq             1     239           71
----------------------------------------------------------------------------------------------------
institution     0
region          0
countryabbrv    0
dtype: int64

====================================================================================================
field_conference.csv (77, 3)
====================================================================================================
major         object
field         object
conference    object
dtype: object
----------------------------------------------------------------------------------------------------
              major                  field       conference
0  Computer Science  Computer Architecture           ASPLOS
1  Computer Science  Computer Architecture             ISCA
2  Computer Science  Computer Architecture            MICRO
3  Computer Science  Computer Architecture             HPCA
4  Computer Science      Computer Networks          SIGCOMM
5  Computer Science      Computer Networks             NSDI
6  Computer Science      Computer Security              CCS
7  Computer Science      Computer Security         IEEE S&P
8  Computer Science      Computer Security  USENIX SECURITY
9  Computer Science      Computer Security             NDSS
               major                            field conference
67  Computer Science                  Computer Vision       ICCV
68  Computer Science                 Machine Learning       ICLR
69  Computer Science                 Machine Learning       ICML
70  Computer Science                 Machine Learning     SIGKDD
71  Computer Science                 Machine Learning    NEURIPS
72  Computer Science      Natural Language Processing        ACL
73  Computer Science      Natural Language Processing      EMNLP
74  Computer Science      Natural Language Processing      NAACL
75  Computer Science  The Web & Information Retrieval      SIGIR
76  Computer Science  The Web & Information Retrieval        WWW
----------------------------------------------------------------------------------------------------
                   major              field conference
count                 77                 77         77
unique                 1                 27         77
top     Computer Science  Operating Systems     ASPLOS
freq                  77                  5          1
----------------------------------------------------------------------------------------------------
major         0
field         0
conference    0
dtype: int64

====================================================================================================
conference_ranking.csv (1493, 3)
====================================================================================================
Antonym    object
Name       object
Rank       object
dtype: object
----------------------------------------------------------------------------------------------------
  Antonym                                               Name Rank
0    AAAI  National Conference of the American Associatio...   A*
1   AAMAS  International Conference on Autonomous Agents ...   A*
2     ACL           Association of Computational Linguistics   A*
3   ACMMM                                     ACM Multimedia   A*
4  ASPLOS  Architectural Support for Programming Language...   A*
5     CAV                        Computer Aided Verification   A*
6     CCS  ACM Conference on Computer and Communications ...   A*
7     CHI  International Conference on Human Factors in C...   A*
8    COLT  Annual Conference on Computational Learning Th...   A*
9  CRYPTO                             Advances in Cryptology   A*
        Antonym                                               Name Rank
1483       WoSQ         International Workshop on Software Quality    C
1484       WOTE           IAVoSS Workshop On Trustworthy Elections    C
1485        WPC               Workshop on Parameterized Complexity    C
1486       WRSO                Workshop on Robust Shape Operations    C
1487        WSE  IEEE International Symposium on Web Systems Ev...    C
1488       WWCA  International Conference on Worldwide Computin...    C
1489  X Schemas  International Workshop on Schema Languages for...    C
1490       Xsym               International XML Database Symposium    C
1491         ZB          International Conference of Z and B Users    C
1492      ZUSER                International Conference of Z Users    C
----------------------------------------------------------------------------------------------------
       Antonym                                             Name  Rank
count     1493                                             1493  1493
unique    1461                                             1492     4
top        ISC  International Conference on Parallel Processing     C
freq         3                                                2   872
----------------------------------------------------------------------------------------------------
Antonym    0
Name       0
Rank       0
dtype: int64

====================================================================================================
turing.csv (89, 2)
====================================================================================================
name    object
year     int64
dtype: object
----------------------------------------------------------------------------------------------------
                     name  year
0          Alan J. Perlis  1966
1       Maurice V. Wilkes  1967
2  Richard Wesley Hamming  1968
3           Marvin Minsky  1969
4   James Hardy Wilkinson  1970
5           John McCarthy  1971
6      Edsger W. Dijkstra  1972
7      Charles W. Bachman  1973
8         Donald E. Knuth  1974
9            Allen Newell  1975
                         name  year
79              Yoshua Bengio  2018
80               Pat Hanrahan  2019
81              Alfred V. Aho  2020
82          Jeffrey D. Ullman  2020
83           Jack J. Dongarra  2021
84               Bob Metcalfe  2022
85         Robert M. Metcalfe  2022
86  Robert Melancton Metcalfe  2022
87            Robert Metcalfe  2022
88              Avi Wigderson  2023
----------------------------------------------------------------------------------------------------
              year
count    89.000000
mean   1997.505618
std      16.383281
min    1966.000000
25%    1984.000000
50%    2001.000000
75%    2011.000000
max    2023.000000
----------------------------------------------------------------------------------------------------
name    0
year    0
dtype: int64

====================================================================================================
generated-author-info.csv (239169, 6)
====================================================================================================
name              object
dept              object
area              object
count            float64
adjustedcount    float64
year               int64
dtype: object
----------------------------------------------------------------------------------------------------
               name                     dept     area  count  adjustedcount  \
0        A Min Tjoa                  TU Wien     icde    1.0        0.33333
1        A Min Tjoa                  TU Wien     icde    1.0        0.20000
2  A. Akbariazirani                     IUST     iros    1.0        0.16667
3    A. Aldo Faisal  Imperial College London     aaai    1.0        0.50000
4    A. Aldo Faisal  Imperial College London  chiconf    1.0        0.25000
5    A. Aldo Faisal  Imperial College London     icra    1.0        0.33333
6    A. Aldo Faisal  Imperial College London     icra    1.0        0.33333
7    A. Aldo Faisal  Imperial College London     icra    1.0        0.25000
8    A. Aldo Faisal  Imperial College London     iros    1.0        0.33333
9    A. Aldo Faisal  Imperial College London     iros    1.0        0.25000

   year
0  1984
1  1996
2  2017
3  2021
4  2021
5  2016
6  2019
7  2024
8  2019
9  2020
                      name                             dept  area  count  \
239159  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239160  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239161  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239162  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    2.0
239163  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239164  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239165  Ümit V. Çatalyürek  Georgia Institute of Technology    sc    1.0
239166  Ümit V. Çatalyürek  Georgia Institute of Technology  vldb    1.0
239167  Ümit V. Çatalyürek  Georgia Institute of Technology   www    1.0
239168  Ümit V. Çatalyürek  Georgia Institute of Technology   www    1.0

        adjustedcount  year
239159        0.14286  2002
239160        0.16667  2003
239161        0.16667  2005
239162        0.32500  2006
239163        0.14286  2008
239164        0.11111  2013
239165        0.20000  2021
239166        0.20000  2013
239167        0.25000  2013
239168        0.25000  2015
----------------------------------------------------------------------------------------------------
               count  adjustedcount           year
count  239169.000000  239169.000000  239169.000000
mean        1.366435       0.375286    2014.408163
std         0.919427       0.280500       8.823449
min         1.000000       0.003584    1970.000000
25%         1.000000       0.200000    2010.000000
50%         1.000000       0.333330    2017.000000
75%         1.000000       0.500000    2021.000000
max        24.000000       4.977800    2024.000000
----------------------------------------------------------------------------------------------------
name             0
dept             0
area             0
count            0
adjustedcount    0
year             0
dtype: int64

====================================================================================================
geolocation.csv (570, 3)
====================================================================================================
institution     object
latitude       float64
longitude      float64
dtype: object
----------------------------------------------------------------------------------------------------
                      institution   latitude   longitude
0              Aalborg University  57.015907    9.975308
1                Aalto University  60.186079   24.828102
2               Aarhus University  56.167091   10.202618
3          Aberystwyth University  52.410736   -4.052955
4    American University in Cairo  30.019263   31.503643
5   American University of Beirut  33.900026   35.482384
6                Ariel University  32.065377   34.845842
7  Australian National University -35.281213  149.116779
8                     BITS Pilani  17.547185   78.572791
9                 BITS Pilani-Goa  15.391048   73.878002
                            institution   latitude   longitude
560                    UNC - Greensboro  36.067960  -79.810367
561         University of New Hampshire  43.138265  -70.932382
562               Utah State University  41.752702 -111.808734
563       Southern Methodist University  32.841801  -96.781528
564  University of Alabama - Huntsville  34.724911  -86.640491
565     Florida Institute of Technology  28.064271  -80.623004
566       North Dakota State University  46.897155  -96.818265
567               University of Memphis  35.118939  -89.937220
568                      Boston College  42.335448  -71.168139
569                 University of Maine  44.899135  -68.666375
----------------------------------------------------------------------------------------------------
         latitude   longitude
count  570.000000  570.000000
mean    36.005308  -10.367091
std     20.255435   78.584243
min    -45.864979 -166.591814
25%     32.736590  -80.603564
50%     40.444171   -0.131608
75%     48.543102   24.922188
max     63.423373  175.616500
----------------------------------------------------------------------------------------------------
institution    0
latitude       0
longitude      0
dtype: int64

====================================================================================================
data.csv (1827, 26)
====================================================================================================
institution.displayName                      object
institution.schoolType                       object
institution.aliasNames                       object
institution.state                            object
institution.city                             object
institution.zip                             float64
institution.region                           object
institution.isPublic                           bool
institution.institutionalControl             object
institution.primaryPhotoCardThumb           float64
ranking.displayRank                          object
ranking.sortRank                              int64
ranking.isTied                                 bool
searchData.actAvg.rawValue                  float64
searchData.percentReceivingAid.rawValue     float64
searchData.acceptanceRate.rawValue          float64
searchData.tuition.rawValue                 float64
searchData.hsGpaAvg.rawValue                float64
searchData.engineeringRepScore.rawValue      object
searchData.parentRank.rawValue              float64
searchData.enrollment.rawValue                int64
searchData.businessRepScore.rawValue         object
searchData.satAvg.rawValue                  float64
searchData.costAfterAid.rawValue            float64
searchData.testAvgs.displayValue.0.value     object
searchData.testAvgs.displayValue.1.value     object
dtype: object
----------------------------------------------------------------------------------------------------
                institution.displayName          institution.schoolType  \
0          Abilene Christian University           national-universities
1  Abraham Baldwin Agricultural College         regional-colleges-south
2             Academy of Art University      regional-universities-west
3                Adams State University      regional-universities-west
4                    Adelphi University           national-universities
5                        Adrian College       regional-colleges-midwest
6               AdventHealth University                          health
7                   Agnes Scott College  national-liberal-arts-colleges
8                Alabama A&M University     regional-universities-south
9              Alabama State University           national-universities

      institution.aliasNames institution.state institution.city  \
0                        ACU                TX          Abilene
1                        NaN                GA           Tifton
2                        NaN                CA    San Francisco
3                        NaN                CO          Alamosa
4                        NaN                NY      Garden City
5                        NaN                MI           Adrian
6                        NaN                FL          Orlando
7                        NaN                GA          Decatur
8  Alabama A&M Alabama A & M                AL           Normal
9                        NaN                AL       Montgomery

   institution.zip institution.region  institution.isPublic  \
0          79699.0                NaN                  True
1          31793.0              south                  True
2          94105.0               west                  True
3          81102.0               west                  True
4          11530.0                NaN                  True
5          49221.0            midwest                  True
6          32803.0                NaN                  True
7          30030.0                NaN                  True
8          35762.0              south                  True
9          36101.0                NaN                  True

  institution.institutionalControl  institution.primaryPhotoCardThumb  ...  \
0                          private                                NaN  ...
1                           public                                NaN  ...
2                      proprietary                                NaN  ...
3                           public                                NaN  ...
4                          private                                NaN  ...
5                          private                                NaN  ...
6                          private                                NaN  ...

In [4]:

import mysql.connector

connection = mysql.connector.connect(
    host='localhost',         # Replace with your host
    user='root',     # Replace with your MySQL username
    database='data'  # Replace with your database name
)

In [ ]:
cursor = connection.cursor()