In [ ]:
from pathlib import Path
import pandas as pd 

names = [
    'acm_fellows', 
    'conference_ranking', 
    'country_info', 
    'csrankings', 
    'data', 
    'dblp_alias', 
    'field_conference', 
    'generated_author_info', 
    'geo_location', 
    'turing'
]

# Load files
dir = Path('data/')
files = {name:pd.read_csv(file) for name, file in zip(names, dir.iterdir())}

In [ ]:
# First 3 rows of each file 
for file in files:
    print('-'*100)
    print(file)
    print('-'*100)
    print(files[file].head(3))
    print()

----------------------------------------------------------------------------------------------------
acm_fellows
----------------------------------------------------------------------------------------------------
             name  year
0    A. J. Milner  1994
1  Aaron Finerman  1994
2  Adele Goldberg  1994

----------------------------------------------------------------------------------------------------
conference_ranking
----------------------------------------------------------------------------------------------------
          institution  region countryabbrv
0                AUEB  europe           gr
1  Aalborg University  europe           dk
2    Aalto University  europe           fi

----------------------------------------------------------------------------------------------------
country_info
----------------------------------------------------------------------------------------------------
              major                  field conference
0  Computer Science  Computer Architecture     ASPLOS
1  Computer Science  Computer Architecture       ISCA
2  Computer Science  Computer Architecture      MICRO

----------------------------------------------------------------------------------------------------
csrankings
----------------------------------------------------------------------------------------------------
  Antonym                                               Name Rank
0    AAAI  National Conference of the American Associatio...   A*
1   AAMAS  International Conference on Autonomous Agents ...   A*
2     ACL           Association of Computational Linguistics   A*

----------------------------------------------------------------------------------------------------
data
----------------------------------------------------------------------------------------------------
                     name  year
0          Alan J. Perlis  1966
1       Maurice V. Wilkes  1967
2  Richard Wesley Hamming  1968

----------------------------------------------------------------------------------------------------
dblp_alias
----------------------------------------------------------------------------------------------------
               name     dept  area  count  adjustedcount  year
0        A Min Tjoa  TU Wien  icde    1.0        0.33333  1984
1        A Min Tjoa  TU Wien  icde    1.0        0.20000  1996
2  A. Akbariazirani     IUST  iros    1.0        0.16667  2017

----------------------------------------------------------------------------------------------------
field_conference
----------------------------------------------------------------------------------------------------
          institution   latitude  longitude
0  Aalborg University  57.015907   9.975308
1    Aalto University  60.186079  24.828102
2   Aarhus University  56.167091  10.202618

----------------------------------------------------------------------------------------------------
generated_author_info
----------------------------------------------------------------------------------------------------
                institution.displayName      institution.schoolType  \
0          Abilene Christian University       national-universities
1  Abraham Baldwin Agricultural College     regional-colleges-south
2             Academy of Art University  regional-universities-west

  institution.aliasNames institution.state institution.city  institution.zip  \
0                    ACU                TX          Abilene          79699.0
1                    NaN                GA           Tifton          31793.0
2                    NaN                CA    San Francisco          94105.0

  institution.region  institution.isPublic institution.institutionalControl  \
0                NaN                  True                          private
1              south                  True                           public
2               west                  True                      proprietary

   institution.primaryPhotoCardThumb  ... searchData.tuition.rawValue  \
0                                NaN  ...                     42380.0
1                                NaN  ...                     10071.0
2                                NaN  ...                     32460.0

   searchData.hsGpaAvg.rawValue  searchData.engineeringRepScore.rawValue  \
0                           3.5                                      2.2
1                           NaN                                      NaN
2                           NaN                                      NaN

   searchData.parentRank.rawValue  searchData.enrollment.rawValue  \
0                             NaN                            3189
1                             NaN                            3814
2                             NaN                            5363

   searchData.businessRepScore.rawValue  searchData.satAvg.rawValue  \
0                                   2.1                      1030.0
1                                   NaN                       940.0
2                                   NaN                         NaN

   searchData.costAfterAid.rawValue searchData.testAvgs.displayValue.0.value  \
0                               NaN                                1030-1250
1                               NaN                                 940-1130
2                               NaN                                      NaN

   searchData.testAvgs.displayValue.1.value
0                                     20-27
1                                     16-22
2                                       NaN

[3 rows x 26 columns]

----------------------------------------------------------------------------------------------------
geo_location
----------------------------------------------------------------------------------------------------
                name affiliation  \
0         A Min Tjoa     TU Wien
1  A. Akbari Azirani        IUST
2   A. Akbariazirani        IUST

                                            homepage     scholarid
0                   http://www.ifs.tuwien.ac.at/tjoa  x8qCMhcAAAAJ
1  http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...  pCil4_cAAAAJ
2  http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...  pCil4_cAAAAJ

----------------------------------------------------------------------------------------------------
turing
----------------------------------------------------------------------------------------------------
                             alias                 name
0  Joaquim Miguel Gon√ßalves Macedo  Joaquim Macedo 0002
1                    Ya-Ling Zhang         Yaling Zhang
2          Mohamed El Baker Nassar  Mohamed Nassar 0001

In [ ]:
# First file 
f1 = names[0]
file = files[f1]

print(f1)
print()
print(file.head())
print()
print(file.describe())
print()
print(file.isnull().sum())

acm_fellows

              name  year
0     A. J. Milner  1994
1   Aaron Finerman  1994
2   Adele Goldberg  1994
3     Allen Tucker  1994
4  Andries van Dam  1994

              year
count  1493.000000
mean   2009.217683
std       9.650052
min    1994.000000
25%    2000.000000
50%    2010.000000
75%    2018.000000
max    2023.000000

name    0
year    0
dtype: int64